.seatmap-modal-container {
    display: flex;
    flex-direction: row;
    height: 800px;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
  }
  
  .seatmap-left,
  .seatmap-right {
    width: 20%;
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .seatmap-center {
    flex-grow: 1;
    border: 1px solid #ccc;
    background: #fff;
    box-sizing: border-box;
  }