// Use import below to import core styles
// @import "../../node_modules/sabre-ngv-app/meta/styles/core-styles.less";

// Кастомный стиль для широкого модального окна SeatMap
.seatmap-modal-wide.modal-dialog {
    width: 1300px !important;
    max-width: 95vw !important;
    min-width: 1100px !important;
  }

// Кастомный стиль для широкого модального окна SeatMap
.react-modal.modal-dialog.seatmap-modal-wide {
    width: 1300px !important;
    max-width: 95vw !important;
    min-width: 1100px !important;
  }

.react-modal.modal-dialog.modal-body {
    max-width: 95vw !important;
}

.modal-open .seatmap-modal-wide.modal-dialog {
    width: 1300px !important;
    max-width: 95vw !important;
    min-width: 1100px !important;
  }